@model IEnumerable<Library.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Category</h1>

<div class="d-flex justify-content-between">
    <div class="form-outline search-input">
        <input type="text" class="form-control input" placeholder="Search category"
                name="SearchString" value="@ViewData["CurrentSearch"]" />
    </div>
    <button type="submit" value="Search" class="btn btn-outline-dark ml-2 mr-2">
        Search<i class="fa fa-search"></i>
    </button>
    <p>
        <a class="btn btn-outline-success" asp-action="Create">Create</a>
    </p>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                <a asp-route-sortOrder="@ViewData["NameSort"]">
                    @Html.DisplayName("Name") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
